ver^2.1.6
# 
# bonGster.NET Network Configuration File
# --------------------------------------------
#

Set ircnetwork .................: BongsterNet
Set ircnetwork_name ............: The Bongster IRC Network
Set defserv ....................: irc.bongster.net
Set website ....................: http://www.bongster.de
Set rules_page .................: http://www.bongster.de
Set network_kline_address ......: KLine@bongster.de
Set mode_x .....................: 1
Set mode_x_lock ................: 1
Set clone_protection ...........: 0
Set clone_limit ................: 0
Set oper_clone_limit_bypass ....: 1
Set hideulinedservs ............: 1
Set global_connects ............: 1
Set oper_autoprotect ...........: 1
Set oper_mode_override .........: 3
Set oper_mode_override_notice ..: 0
Set users_auto_join ............: 0
Set opers_auto_join ............: #ircops
Set enable_nickserv_alias ......: 1
Set enable_chanserv_alias ......: 1
Set enable_memoserv_alias ......: 1
Set enable_botserv_alias .......: 1
Set enable_rootserv_alias ......: 0
Set enable_operserv_alias ......: 1
Set enable_statserv_alias ......: 1
Set enable_hostserv_alias ......: 0
Set services_server ............: Services.bongster.net
Set statserv_server ............: Stats.bongster.net
Set hostserv_server ............: HostServ.bongster.net
Set nickserv_name ..............: NickServ
Set chanserv_name ..............: ChanServ
Set memoserv_name ..............: MemoServ
Set botserv_name ...............: BotServ
Set rootserv_name ..............: RootServ
Set operserv_name ..............: OperServ
Set statserv_name ..............: StatServ
Set hostserv_name ..............: HostServ
Set locop_host .................: LocalOper.bongster.net
Set oper_host ..................: Oper.bongster.net
Set guestadmin_host ............: Guest-Admin.bongster.net
Set servcoadmin_host ...........: Server-CoAdmin.bongster.net
Set servadmin_host .............: Server-Admin.bongster.net
Set techcoadmin_host ...........: Technical-CoAdmin.bongster.net
Set techadmin_host .............: Technical-Admin.bongster.net
Set netcoadmin_host ............: Network-CoAdmin.bongster.net
Set netadmin_host ..............: Network-Admin.bongster.net
Set helpchan ...................: #Cosmic78

#-------------------------
# End Of Network Settings
#-------------------------
