ver^2.1.6
#
# NoverNet.com Network Configuration File
#
# Address of person to contact with questons
# regarding changes in this file:
#
# Rascle@NoverNet.com
#
# --------------------------------------------
#
# $Id: novernet.network 648 2003-03-17 21:50:29Z againaway $

Set ircnetwork .................: NoverNet
Set ircnetwork_name ............: The NoverNet IRC Network
Set defserv ....................: irc.novernet.com
Set website ....................: http://www.novernet.com/
Set rules_page .................: http://www.novernet.com/rules.html
Set network_kline_address ......: kline@novernet.com
Set mode_x .....................: 1
Set mode_x_lock ................: 0
Set clone_protection ...........: 1
Set clone_limit ................: 3
Set oper_clone_limit_bypass ....: 1
Set hideulinedservs ............: 1
Set global_connects ............: 1
Set oper_autoprotect ...........: 1
Set oper_mode_override .........: 4
Set oper_mode_override_notice ..: 1
Set users_auto_join ............: 0
Set opers_auto_join ............: 0
Set enable_nickserv_alias ......: 1
Set enable_chanserv_alias ......: 1
Set enable_memoserv_alias ......: 1
Set enable_botserv_alias .......: 1
Set enable_rootserv_alias ......: 0
Set enable_operserv_alias ......: 1
Set enable_statserv_alias ......: 1
Set enable_hostserv_alias ......: 0
Set services_server ............: Services.novernet.com
Set statserv_server ............: Statistics.novernet.com
Set hostserv_server ............: HostServ.novernet.com
Set nickserv_name ..............: NickServ
Set chanserv_name ..............: ChanServ
Set memoserv_name ..............: MemoServ
Set botserv_name ...............: BotServ
Set rootserv_name ..............: RootServ
Set operserv_name ..............: OperServ
Set statserv_name ..............: StatServ
Set hostserv_name ..............: HostServ
Set locop_host .................: LocalOper.novernet.com
Set oper_host ..................: Oper.novernet.com
Set guestadmin_host ............: Guest-Admin.novernet.com
Set servcoadmin_host ...........: Server-CoAdmin.novernet.com
Set servadmin_host .............: Server-Admin.novernet.com
Set techcoadmin_host ...........: Technical-CoAdmin.novernet.com
Set techadmin_host .............: Technical-Admin.novernet.com
Set netcoadmin_host ............: Network-CoAdmin.novernet.com
Set netadmin_host ..............: Network-Admin.novernet.com
Set helpchan ...................: #novernet

#-------------------------
# End Of Network Settings
#-------------------------
