ver^2.1.6
#
# uicn.net Network Configuration File
# --------------------------------------------
#
# $Id: uicn.network 648 2003-03-17 21:50:29Z againaway $

Set ircnetwork .................: UICN
Set ircnetwork_name ............: The UICN IRC Network
Set defserv ....................: irc.uicn.net
Set website ....................: http://www.uicn.net/
Set rules_page .................: http://www.uicn.net/rules.html
Set network_kline_address ......: KLine@uicn.net
Set mode_x .....................: 1
Set mode_x_lock ................: 1
Set clone_protection ...........: 1
Set clone_limit ................: 5
Set oper_clone_limit_bypass ....: 1
Set hideulinedservs ............: 1
Set global_connects ............: 1
Set oper_autoprotect ...........: 1
Set oper_mode_override .........: 3
Set oper_mode_override_notice ..: 0
Set users_auto_join ............: 0
Set opers_auto_join ............: #IRCOps,#Help
Set enable_nickserv_alias ......: 1
Set enable_chanserv_alias ......: 1
Set enable_memoserv_alias ......: 1
Set enable_botserv_alias .......: 1
Set enable_rootserv_alias ......: 0
Set enable_operserv_alias ......: 1
Set enable_statserv_alias ......: 1
Set enable_hostserv_alias ......: 0
Set services_server ............: Services.uicn.net
Set statserv_server ............: Statistics.uicn.net
Set hostserv_server ............: HostServ.uicn.net
Set nickserv_name ..............: NickServ
Set chanserv_name ..............: ChanServ
Set memoserv_name ..............: MemoServ
Set botserv_name ...............: BotServ
Set rootserv_name ..............: RootServ
Set operserv_name ..............: OperServ
Set statserv_name ..............: StatServ
Set hostserv_name ..............: HostServ
Set locop_host .................: localoper.uicn.net
Set oper_host ..................: oper.uicn.net
Set guestadmin_host ............: guest-admin.uicn.net
Set servcoadmin_host ...........: server-coadmin.uicn.net
Set servadmin_host .............: server-admin.uicn.net
Set techcoadmin_host ...........: technical-coadmin.uicn.net
Set techadmin_host .............: technical-admin.uicn.net
Set netcoadmin_host ............: network-coadmin.uicn.net
Set netadmin_host ..............: network-admin.uicn.net
Set helpchan ...................: #Help

#-------------------------
# End Of Network Settings
#-------------------------


