ver^2.1.6
#
# IRChighway.net Network Configuration File
# --------------------------------------------
#
# $Id: irchighway.network 811 2004-07-31 11:43:02Z shadowmaster $

Set ircnetwork .................: irchighway
Set ircnetwork_name ............: The IRCHighWay Network
Set defserv ....................: irc.irchighway.net
Set website ....................: http://www.irchighway.net/
Set rules_page .................: http://www.irchighway.net/
Set network_kline_address ......: banned@irchighway.net
Set mode_x .....................: 1
Set mode_x_lock ................: 0
Set clone_protection ...........: 0
Set clone_limit ................: 3
Set oper_clone_limit_bypass ....: 1
Set hideulinedservs ............: 1
Set global_connects ............: 1
Set oper_autoprotect ...........: 0
Set oper_mode_override .........: 3
Set oper_mode_override_notice ..: 0
Set users_auto_join ............: 0
Set opers_auto_join ............: #ircop,#help,#irchighway
Set enable_nickserv_alias ......: 1
Set enable_chanserv_alias ......: 1
Set enable_memoserv_alias ......: 1
Set enable_botserv_alias .......: 1
Set enable_rootserv_alias ......: 0
Set enable_operserv_alias ......: 1
Set enable_statserv_alias ......: 1
Set enable_hostserv_alias ......: 1
Set services_server ............: Services.irchighway.net
Set hostserv_server ............: Services.irchighway.net
Set statserv_server ............: StatServ.irchighway.net
Set nickserv_name ..............: NickServ
Set chanserv_name ..............: ChanServ
Set memoserv_name ..............: MemoServ
Set botserv_name ...............: BotServ
Set rootserv_name ..............: RootServ
Set operserv_name ..............: OperServ
Set statserv_name ..............: StatServ
Set hostserv_name ..............: HostServ
Set locop_host .................: LocalOper.irchighway.net
Set oper_host ..................: Oper.irchighway.net
Set guestadmin_host ............: Guest-Admin.irchighway.net
Set servcoadmin_host ...........: Server-CoAdmin.irchighway.net
Set servadmin_host .............: Server-Admin.irchighway.net
Set netcoadmin_host ............: Network-CoAdmin.irchighway.net
Set netadmin_host ..............: Network-Admin.irchighway.net
Set techcoadmin_host ...........: Technical-CoAdmin.irchighway.net
Set techadmin_host .............: Technical-Admin.irchighway.net
Set helpchan ...................: #help

#-------------------------
# End Of Network Settings
#-------------------------
