ver^2.1.6
#
# VillageIRC.net Network Configuration File
# --------------------------------------------
#
# $Id: villageirc.network 971 2005-10-23 21:02:56Z shadowmaster $

Set ircnetwork .................: VillageIRC
Set ircnetwork_name ............: The Village IRC Network
Set defserv ....................: irc.VillageIRC.net
Set website ....................: http://www.VillageIRC.net/
Set rules_page .................: http://www.villageirc.net/rules/guidelines.html
Set network_kline_address ......: KLine@VillageIRC.net
Set mode_x .....................: 1
Set mode_x_lock ................: 1
Set clone_protection ...........: 1
Set clone_limit ................: 10
Set oper_clone_limit_bypass ....: 1
Set hideulinedservs ............: 1
Set global_connects ............: 0
Set oper_autoprotect ...........: 0
Set oper_mode_override .........: 3
Set oper_mode_override_notice ..: 0
Set users_auto_join ............: 0
Set opers_auto_join ............: 0
Set enable_nickserv_alias ......: 1
Set enable_chanserv_alias ......: 1
Set enable_memoserv_alias ......: 1
Set enable_botserv_alias .......: 1
Set enable_rootserv_alias ......: 0
Set enable_operserv_alias ......: 1
Set enable_statserv_alias ......: 1
Set enable_hostserv_alias ......: 0
Set services_server ............: Services.VillageIRC.net
Set statserv_server ............: Statistics.VillageIRC.net
Set hostserv_server ............: HostServ.VillageIRC.net
Set nickserv_name ..............: NickServ
Set chanserv_name ..............: ChanServ
Set memoserv_name ..............: MemoServ
Set botserv_name ...............: BotServ
Set rootserv_name ..............: RootServ
Set operserv_name ..............: OperServ
Set statserv_name ..............: StatServ
Set hostserv_name ..............: HostServ
Set locop_host .................: LocalOper.VillageIRC.net
Set oper_host ..................: Oper.net
Set guestadmin_host ............: Guest-Admin.VillageIRC.net
Set servcoadmin_host ...........: Server-CoAdmin.VillageIRC.net
Set servadmin_host .............: Server-Admin.VillageIRC.net
Set techcoadmin_host ...........: Technical-CoAdmin.VillageIRC.net
Set techadmin_host .............: Technical-Admin.VillageIRC.net
Set netcoadmin_host ............: Network-CoAdmin.VillageIRC.net
Set netadmin_host ..............: Network-Admin.VillageIRC.net
Set helpchan ...................: #TheRealms

#-------------------------
# End Of Network Settings
#-------------------------
